#hire-button {
  float: right;
  border-radius: .5em;
  user-select: none;
  background: #2196f3;
}

#hire-button:hover {
  color: #000000;
  background: #FFFFFF;
}

#hire-button:active {
  color: #FFFFFF;
  background: #000000;
}

.banner {
  background-image: url('./assets/detroit-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.banner-header {
  padding: .05em;
  display: block;
  position: absolute;
  width: 100%;
	background: rgb(0, 0, 0, 0.5);
}

.banner-header p {
  display: inline-block;
  padding: .5em;
  margin: .5em;
  font-size: 1.4em;
  color: #FFFFFF;
}

a {
	text-decoration: none;
	left-margin: 2px;
}

@media only screen and (max-width: 500px)   {
  .banner-header {
    display: none;
  }
}
