#hire-button {
  float: right;
  border-radius: .5em;
  user-select: none;
  background: #2196f3;
  transition: 500ms
}

#hire-button:hover {
  color: #000000;
  background: #FFFFFF;
}

#hire-button:active {
  color: #FFFFFF;
  background: #000000;
}

.nav-button, #topnav a {
  color: #FFFFFF;
  transition: 300ms
}

.nav-button:hover, #topnav a:hover {
  color: #2196f3;
}

.banner {
  background-image: url('./assets/detroit-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100)
}

.banner-header {
  padding: .05em;
  display: block;
  position: absolute;
  width: 100%;
	background: #1e2227;
}

.banner-header p {
  display: inline-block;
  padding: .5em;
  margin: .5em;
  font-size: 1.4em;
  color: #FFFFFF;
}

.banner-header navigation {
	display: inline-block;
	width: 60%;
	text-align: center;
}

#topnav a {
	color: #FFFFFF;
	display: inline;
  text-decoration: none;
  outline: none;
	margin-right: 2em;
}

.banner-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: fadein 200ms;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

svg {
  display: none;
}

@media screen and (max-width: 1145px) {
  #title, #hire-button,#topnav a, #topnav p {
    display: none; 
  }
  #topnav {
    width: 100%;
    padding-top: 1em;
    padding-bottom: .5em;
  }
  #topnav svg {
    float: right;
    display: block;
    margin-right: 1.5em;
    cursor: pointer;
  }
  #topnav.responsive {
    position: relative; 
  }
  #topnav.responsive svg {
    position: absolute; 
    right: 0;
    top: 1.5em;
  }
  #topnav.responsive a {
    margin: 2em;
    float: none;
    display: block;
    text-align: left; 
  } 
}