.App-header {
  background-color: #3e464c;
  padding: .05em;
  color: #FFFFFF;
  display: block;
}

.App-header p {
  display: inline-block;
  padding: .5em;
  margin: .5em;
  font-size: 1.2em;
}

#hire-button {
  float: right;
  border: 1px solid white;
  border-radius: .5em;
  user-select: none;
}

#hire-button:hover {
  background: grey;
}

#hire-button:active {
  background: black;
}