.App-header {
  padding: .05em;
  display: block;
}

.App-header p {
  display: inline-block;
  padding: .5em;
  margin: .5em;
  font-size: 1.2em;
}

#hire-button {
  float: right;
  border: 1px solid #000000;
  border-radius: .5em;
  user-select: none;
}

#hire-button:hover {
  color: #000000;
  background: #FFFFFF;
  border: solid 1px #000000;
}

#hire-button:active {
  color: #FFFFFF;
  background: black;
  border: solid 1px #000000;
}

.content {
  display: block;
  background-image: url('assets/banner_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content .banner {
  display: flex;
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.banner .banner-tagline {
  margin: 16px;
  text-align: center;
  font-size: 2.5em;
  color: #FFFFFF;
}

.banner #contact {
  user-select: none;
  font-size: .75em;
  display: inline-block;
  border: solid 4px #FFFFFF;
  margin-top: 1.2em;
  padding: 4px 40px;
}

#contact:hover {
  color: #000000;
  background: #FFFFFF;
  border: solid 4px #000000;
}

#contact:active {
  color: #FFFFFF;
  background: black;
  border: solid 4px #000000;
}