.banner-header {
  padding: .05em;
  display: block;
}

.banner-header p {
  display: inline-block;
  padding: .5em;
  margin: .5em;
  font-size: 1.6em;
}

@media only screen and (max-width: 500px)   {
  #title {
    display: none;
  }
  .contact p {
    font-size: .35em
  }
}

#hire-button {
  float: right;
  border: 2px solid #000000;
  border-radius: .5em;
  user-select: none;
}

#hire-button:hover {
  color: #000000;
  background: #FFFFFF;
  border: solid 2px #000000;
}

#hire-button:active {
  color: #FFFFFF;
  background: #000000;
  border: solid 2px #000000;
}

.banner {
  background-image: url('assets/banner_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.banner .banner-content {
  display: flex;
  height: 635px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.banner-content .banner-tagline {
  margin: 16px;
  text-align: center;
  font-size: 2.5em;
  color: #FFFFFF;
}

.banner .contact {
  font-size: .75em;
  display: inline-block;
  border: solid 4px #FFFFFF;
  margin-top: 1.2em;
  padding: 4px 40px;
}